body{
background-image:url("https://www.desktopbackground.org/p/2010/06/19/35455_blue-sea-hd-wallpapers_3840x2400_h.jpg");
background-size:cover;
background-repeat:no-repeat;
}
p{
font-family: 'Crimson Pro', serif;
font-size:25px;
}
h1{
font-family: 'Lobster', cursive;
}

.foot{
  margin-top:15%;
  color:black;
  bottom:0;
  width:100%;
  text-align:center;

}
